@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import "components/banner.css";
@import "components/footer.css";
@import "components/photo.css";
@import "components/carousel.css";
@import "components/project.css";
@import "components/slide.css";

body { 
    padding-top: 250px;
}

a {
    font-family: 'Istok Web', sans-serif;
    color: #045C53;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Istok Web', sans-serif;
    color: black;
}

h1 {
    font-family: 'Istok Web', sans-serif;
    color: #045C53
}
.bio {
    margin-top: -105px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.title {
   font-weight: bold;
   color: #045C53;
   font-size: 55px;
   line-height: 35px;
   font-family: 'Istok Web', sans-serif;
   background-color: rgb(254, 252, 215);
   padding: 20px;
   width: min-content;
   box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.04); 
   margin: 60px 0 30px;
}

.subtitle {
    font-size: 29px; 
    line-height: 70px;
    margin-left: 15px;
}

.annotation{
    font-size: 20px; 
    line-height: 45px;
    margin-left: 15px;
    margin-top: -5px;
}

.pic {
    bottom: 40px;
    right: 5px;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

h5 {
    font-size: 5px;
    color: #045C53;
}

.list-inline>li {
    display: inline-block;
}

.skills ul {
    padding: 0;
}

li a {
    color: #045C53;
    font-size: 25px;
    padding: 5px;
}

li a:hover {
    text-decoration: none;
    color: #068679;
    transition: all 0.2s;
}

.img-circle {
    border-radius: 50%;
}

.btn:hover {
    background-color: rgba(223, 154, 154, 0.637);
  }

.btn a {
  color: black;
}

.btn a:hover {
  text-decoration: none;
  color: black;
}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hide {
   display: none;  
}
@media only screen and (max-width: 580px) {

    .bio p {
        font-size: 20px !important;
        line-height: 53px;
    }
    .skills img{
        height: 40px !important;
        width: 40px !important;
    }

    .subtitle {
        font-size: 16px!important;
        line-height: 45px;
        margin-left: 15px!important; 
        margin-bottom: 10px;  
    }

    .annotation {
        line-height: 18px;
        font-size: 12px!important;
        margin-left: 15px!important;   
    }

    .title {
        margin: 60px 0 15px;
    }

    
    .pic {
        top: 0;
        right: 0;
    }
    
    .bio {
        margin: -180px 0 10px;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
    }

    .contact-links a {
        font-size: 20px;
    }

    .skills img {
        margin: 5px 0;
    }

}   