@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import "components/banner.css";
@import "components/footer.css";

body { 
    padding-top: 250px; 
}

a {
    font-family: 'Julius Sans One';
    color: black;
}

p {
    font-family: 'Istok Web', sans-serif;
    color: black;
}

h1, h2, h3 , h4, h5 {
    font-family: 'Abril Fatface';
}


h5 {
    font-size: 5px;
}

h4 {
    font-size: 16px;
}

.menu {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
    align-content: baseline;
}

.card-project a:hover {
    text-decoration: none;
}
.list-inline {
    display:inline-block;
}
.list-inline>li {
    display: inline-block;
    margin: 0, 5px;
}

li a {
    color: rgba(0,0,0,0.2);
    font-size: 20px;
    padding: 4px;
    margin: 4px;
}

li a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3);    
    transition: all 0.2s;
}

.img-circle {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 1px solid rgba(0,0,0,0.2);


}

.img-circle:hover {
    transform: rotate(-10deg);
    transition: all 0.2s;
  
}

.card-title {
    font-family: 'Syncopate', sans-serif;
}
.section {
    border-radius: 0;
    width: 600px;

    justify-content: center;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.element {
    display: flex;
}

.card-project {
    position: relative;
    width: auto;
    border-radius: 9px;
  }
  
.image {
    display: block;
    width: 350px;
    height: auto;
    border-radius: 3px; 
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 350px;
    height: 0;
    transition: .4s ease;
}


.card-project:hover .overlay {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
}

.text {
    color: white;
    font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.btn:hover {
    background-color: rgba(223, 154, 154, 0.637);
  }

.btn a {
  color: black;
}

.btn a:hover {
  text-decoration: none;
  color: black;
 
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hide {
   display: none;  
}