#navbar {
    overflow: hidden;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.96));
    padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: -webkit-fill-available;
    top: -25px; /* At the top */
    z-index: 99;
    display: inline-flex;
  }
  
  /* Style the navbar links */
  #navbar h1 {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 70px; 
    color: #045C53; 
    opacity: 0.5;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-weight: bold;
    transition: 0.7s;
  }

  .menu {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
    align-content: baseline;
}
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media only screen and (max-width: 580px) {
    #navbar {
      padding: 0px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
      display: grid !important;
      grid-template-columns: 0.5fr 3fr !important;

    }
    #navbar h1 {
      float: none;
      display: flex !important;
      text-align: left;
      font-size: 30px !important;
      margin-right: -5px !important; 
    }

    #navbar #logo {
    margin-right: -5px;  
    }
  
    #links {
      padding: 0px !important;
     
    }

    #links button {
      font-size: 15px !important;
      margin-left: -12px !important;
    }

    #social {
      display: none !important
    }
  }