#navbar {
    overflow: hidden;
    background-color: rgb(254, 252, 215);
    padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: -webkit-fill-available;
    top: -25px; /* At the top */
    z-index: 99;
    display: inline-flex;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.08);
  }
  
  /* Style the navbar links */
  #navbar h1 {
    float: left;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 70px; 
    color: #045C53; 
    font-weight: bold;
    line-height: 50px;
  }

  .list-inline {
    margin: 5px 10px;
  }
  /* Style the logo */
  #navbar #logo {
    transition: 0.7s;
    margin-top: 10px;
  }

  .menu {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
    align-content: baseline;
}
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media only screen and (max-width: 580px) {
    #navbar {
      padding: 0px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
      display: grid !important;
      grid-template-columns: 0.5fr 3fr !important;
    }

    #navbar h1 {
      float: none;
      display: flex !important;
      text-align: left;
      margin-right: -5px !important; 
      text-decoration: none;
      line-height: 20px;
    }

    .menu {
      align-items: baseline;
      margin-top: 4px;
    }
    
    #navbar #logo {
      font-size: 20px !important;
      line-height: 30px !important;
    }
  
    #links {
      padding: 0px !important;
      display: flex;
    }

    #links button {
      font-size: 13px !important;
      margin-left: -20px !important;
    }
    .list-inline {
      margin: 0 !important;
    }
    #social a {
      font-size: 10px;
      padding: 0, 5px;
    }
  }